/* ================================ FONT OPEN SANS ====================================== */

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ======================================== COLORS ========================================== */
$primary-color: #D9B88F;
$secondary-color: #324001;
$third-color: #261201;


/* ================================= GENERAL SETTINGS ====================================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    background: $primary-color;
    font-weight: bold;
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
}

nav {
    background: $secondary-color;
}

/* ======================================== MIXINS ========================================= */

@mixin button-style($bg-color: $primary-color, $hover-color: $secondary-color) {
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: $secondary-color;
    width: 100%;
    border: 0;
    padding: 15px;
    color: $primary-color;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background: $third-color;
    }
}

@mixin form-style {
    position: relative;
    z-index: 1;
    max-width: 360px;
    padding: 45px;
    color: $primary-color;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: $third-color;

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number] {
        border: 0;
        margin: 0 0 15px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
        margin-top: 10px;
    }
    legend{
        padding: 5px;
        font-size: 1.2rem;
    }
    #niveau, #genre {
        padding: 5px;
    }
    label{
        margin: 5px;
    }
    h2{
        padding-bottom: 30px;
    }
}

.form-card {
    @include form-style;
    width: 340px;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-button {
    @include button-style($primary-color);
}

/* ========================================= BURGER ================================================ */
  #burger, 
  #burger-user {  // style des burgers et les transitions
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index:2;
  }

  #burger span,
  #burger span:before,
  #burger span:after,
  #burger-user span,
  #burger-user span:before,
  #burger-user span:after {
    background: $primary-color;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
/* ========================== */
#burger span:before,
#burger span:after,
#burger-user span:before,
#burger-user span:after {
    content: "";
}

#burger span,
#burger-user span{
    right: 0px;
    top: 13px;
    width: 27px;
}                                       // les barres du burger
#burger span:before, 
#burger-user span:before {
    left: 0px;
    top: -10px;
    width: 27px;
}
#burger span:after,
#burger-user span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}
/* ======================== */
  
#burger.close span,
#burger-user.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burger.close span:before,
#burger-user.close span:before {
    top: 0px;                       // l'animation lors du clic
    transform: rotate(90deg);
    width: 27px;
}
#burger.close span:after,
#burger-user.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
}
/* ======= fin du style des burgers et de leurs transitions ======*/


  #menu-burger,
  #menu-user{
    z-index:1;
    min-width:20%;
    min-height:10%;
    position: absolute;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:200px;
    transition: all 0.3s ease;
}
  #menu-burger ul,
  #menu-user ul{
    margin: -150px;
  }
  
  #menu-burger.overlay{
    visibility: visible;
    opacity: 1;
    padding-bottom: 0px;
    background: #324001;
    margin-top: 200px;
    border: solid 2px $third-color;
    min-width: 150px;
    left: 0;
  }
  #menu-user.overlay{
    visibility: visible;
    opacity: 1;
    padding-bottom: 0px;
    background: #324001;
    margin-top: 200px;
    border: solid 2px $third-color;
    min-width: 150px;
    right: 0;
  }
  
  #menu-burger li,
  #menu-user li{
    list-style:none;
  }
  #menu-burger a,
  #menu-user a{
    color:$primary-color;
    display:block;
    margin-bottom:30px;
    text-decoration:none;
  }

.navigation {
    min-height: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation img {
    margin-left: 20px;
    max-width: 70%;
    min-width: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#banniere {
    width: 100%;
    height: 40%;
    background-image: url('img/banniere.png');
    background-size: cover;
    background-position: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (min-width: 1135px) {
    .navigation img {
        margin-left: 0;
    }
    .navigation #burger,
    #burger-user {
        display: none;
    }

    #menu-burger,
    #menu-user{
        position: relative;
        visibility: visible;
        opacity: 1;
        min-width: 0;
        min-height: 0;
        padding-top: 0;
    }
    #menu-burger li a,
    #menu-user li a{
        color: $primary-color;
    }
    #menu-burger ul,
    #menu-user ul{
        display: flex;
        justify-content: space-around;
        
    }
    #menu-burger{
        width: 450px;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
}
// .navigation #user-icon,
// #burger-menu {
//     font-size: 40px;
// }

// .navigation {
//     overflow: hidden;
//     position: relative;
// }


// .navigation #list-items,
// #user-menu {
//     display: none;
// }


// .navigation a {
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;
//     display: block;
//     color: $primary-color;
// }

// .navigation a.icon {
//     display: block;
//     position: absolute;
//     right: 0;
//     top: 0;
// }

// .navigation ul li a:hover{
//     background-color: #636C45;
//     color: $primary-color;
// }

/* =========================================  HEADER C&I  ====================================== */

#banniereCI {
    width: 100%;
    height: 90%;
    position: relative;
    background-image: url('img/banniere.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ============================================== FOOTER ==================================================*/
footer {
    background: $secondary-color;
    color: $primary-color;
    position: relative;
}
#reseaux ul li,
#politiques ul li {
    display: inline-block;
    margin-right: 15px;
}
#reseaux ul,
#politiques ul,
#copyright ul {
    text-align: center;
}
#reseaux {
    margin-bottom: 100px;
    padding-top: 20px;
}
#reseaux i{
    font-size: 40px;
    color: $primary-color;
}
#reseaux i:hover{
    color: $third-color;
}
#politiques {
    padding-bottom: 20px;
    font-size: 1.2rem;
}
#politiques ul li a:hover{
    color: $third-color;
}
#copyright {
    padding:30px;
}
#reseaux img{
    position: absolute;
    top: 15px;
    right: 30px; 
    height: auto;
}
#politiques li a{
    color: $primary-color;
}
#politiques li a:hover{
    color: $third-color;
}
/* ===================================== DERNIERES RECETTES / SLIDER  ======================================= */
.slider-container{
    max-width: 700px;
    margin: 15px auto;
    position: relative;
}
.slider{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    background: #ccc;
}
.slider__item img{
    width: 100vh;
    
}
.slider__item{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
}
.slider__item--current{
    opacity: 1;
    z-index: 2;
}
.slider__item:nth-of-type(even){
    color: #fff;
}
  
.controls__btn{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 99;
    padding: 10px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
}
.controls__btn--prev{
    left: 0;
}
.controls__btn--next{
    right: 0;
}

/* ==================================== MENTIONS / POLITIQUES ============================================ */
.mentions a{
    color: $third-color;
}
.mentions ul li, .mentions ul p, .mentions h3{
    font-style: normal;
}
.mentions, .cgu{
    color: $third-color;
}

.mentions .title-mentions,
.mentions p,
.cgu .title-cgu,
.politiques .title-politiques,
.politiques p{  
    padding: 40px;
}
.title-cgu, .title-mentions {
    font-size: 2rem;
}
.mentions ul,
.mentions .title-ul,
.politiques .title{
    text-align: center;
    padding: 20px;
}
.mentions .title-ul,
.politiques .title{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.mentions .title-mentions,
.cgu .title-cgu{
    padding-bottom: 20px 0 0 20px;
}

.mentions p, 
.cgu p,
.politiques p{
    width: auto;
    padding: 30px;
}
/* ======================================= PRESENTATION ======================================= */
.presentation{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px;
    gap: 100px;
} 
.presentation img{
    max-width: auto;
    margin: 0 auto;
}
.presentation #texte-presentation {
    background-color: $secondary-color;
    color: $primary-color;
    margin: 0 auto;
    width: 450px;
    border-radius:67% 33% 82% 18% / 44% 70% 30% 56%;
    letter-spacing: 2px;
    padding:150px;
}

/* ===================================== MEDIA QUERIES ============================================ */

// @media screen and (min-width: 1135px) {
//     #menu-burger,
//     #menu-user{
//         display: block;
//         display: flex;
//         visibility: visible;
//         opacity: 1;
//         height: auto;
//     }
//     #menu-burger li a,
//     #menu-user li a{
//         color: $primary-color;
//     }
//     .navigation #burger,
//     #burger-user {
//         display: none;
//     }
//     .container{
//         display: flex;
//         flex-direction: row-reverse;
//         align-items: center;
//     }
    
// }
@media screen and (min-width: 1000px) {
    
}


   .breadcrumb {
        list-style: none;
        padding: 10px;
        margin: 0;
        background-color: $primary-color;
        border-radius: 4px;
        display: flex;
    }
    .breadcrumb li {
        display: inline;
        margin-right: 5px;
    }
    .breadcrumb li:last-child {
        font-weight: bold;
    }
    .breadcrumb li::after {
        content: ">";
        margin-left: 5px;
        margin-right: 5px;
        color: #323232;
    }
    .breadcrumb li:last-child::after {
        content: none;
    }
    .breadcrumb a{
        color: #323232;
    }