/* ================================ FONT OPEN SANS ====================================== */

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/open-sans-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ======================================== COLORS ========================================== */
$primary-color: #D9B88F;
$secondary-color: #324001;
$third-color: #261201;


/* ================================= GENERAL SETTINGS ====================================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

html,body{
    overflow-x: hidden !important;  
    max-width: 100% !important;
}

body {
    background: $primary-color;
    font-weight: bold;
    
}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;

}

nav {
    background: $secondary-color;
}

/* ======================================== MIXINS ========================================= */

@mixin button-style($bg-color: $primary-color, $hover-color: $secondary-color) {
    text-transform: uppercase;
    font-weight: bold;
    outline: 0;
    background: $secondary-color;
    width: 100%;
    border: 0;
    padding: 15px;
    color: $primary-color;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background: $third-color;
    }
}

@mixin form-style {
    position: relative;
    z-index: 1;
    max-width: 360px;
    padding: 45px;
    color: $primary-color;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: $third-color;

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number] {
        border: 0;
        margin: 0 0 15px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;
        margin-top: 10px;
    }
    legend{
        padding: 5px;
        font-size: 1.2rem;
    }
    #niveau, #genre {
        padding: 5px;
    }
    label{
        margin: 5px;
    }
    h2{
        padding-bottom: 30px;
    }

}
.form-card {
    @include form-style;
    width: 340px;
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-button {
    @include button-style($primary-color);
}

@media screen and (max-width: 500px){
    .form-card{
        width: 230px;
    }
}

/* ========================================== VUE CARDS  ================================================ */

@mixin card-style {
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: 0.25rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    background-color: $secondary-color; 
    width: 230px;
    
    img {
        margin: 0 auto;
        width: 230px;
        height: 150px;
        border-top-left-radius: 0.25rem;  
        border-top-right-radius: 0.25rem;  
    }
  
    .card-body {
        padding: 1rem; 
        color: $primary-color;
        position: relative;
        height: 80px;
        
    }
  
    .card-title {
        font-size: 1.25rem; 
        margin-bottom: 0.75rem;
    }
  
    .card-text {
        margin-bottom: 1rem; 
    }
    .card-lien{
        @include button-style($primary-color);
        padding: 10px !important;
        margin-left: 10px ;
        margin-bottom: 10px ;
        
    }
  }
.card {
    @include card-style;
    height: 300px;
}
.card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}
.nos_recettes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
/* ========================================== VUE FOCUS SUR UNE RECETTE  ================================================ */
.info-recette{
    margin-top: 30px;
}
.info-recette ul{
    display: flex;
    width: auto;
    justify-content: space-around; 
}

.info-recette ul li{
    @include button-style;
    text-align: center;
}

.description-recette{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
.description-recette #img img{
    width: 100%;
    align-items: center;
}

.description-recette #img {
    width: 100%;
    align-items: center;
}
.description-recette .contenu{
    width: 100%;
}
.description-recette .contenu #titre_recette,
.description-recette .contenu #auteur{
    padding-bottom: 10px;
}
.description-recette .contenu #description{
    padding-top: 25px;
}

@mixin bloc-ingredients-etapes-style{
    background-color: $secondary-color;
    color: $primary-color;
    width: auto;
    margin: 30px;
    padding: 20px;
    
    #label{
        padding-bottom: 20px;
    }
}
.ingredients {
    @include bloc-ingredients-etapes-style;
}
.etapes {
    @include bloc-ingredients-etapes-style;
}

@media screen and (min-width: 500px){
    .description-recette{
        flex-direction: row;
    }
}

.ajout-commentaire form{
    width: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.ajout-commentaire form textarea{
    margin-bottom: 10px;
}
#bloc-else-connexion{
    background-color: $third-color;
    color: $primary-color;
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.ajout-commentaire button{
    @include button-style();
    
}
.ajout-commentaire button a{
    color: $primary-color;
    
}


/* ================================================  HEADER C&I  =============================================== */

#banniereCI {
    width: 100%;
    height: 90%;
    position: relative;
    background-image: url('img/banniere.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ====================================================  HEADER  ===================================================== */

#banniere {
    width: 100%;
    height: 40%;
    background-image: url('img/banniere.png');
    background-size: cover;
    background-position: center;
}

/* ================================================ FIL D'ARIANE ================================================ */


.breadcrumb {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: $primary-color;
    border-radius: 4px;
    display: flex;
}
.breadcrumb li {
    display: inline;
    margin-right: 5px;
}
.breadcrumb li:last-child {
    font-weight: bold;
}
.breadcrumb li::after {
    content: ">";
    margin-left: 5px;
    margin-right: 5px;
    color: #323232;
}
.breadcrumb li:last-child::after {
    content: none;
}
.breadcrumb a{
    color: #323232;
}

/* ================================================ BURGER ================================================ */
  #burger, 
  #burger-user {                        // style des burgers 
    cursor: pointer;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index:2;
    font-size: 25px;
    color: $primary-color;
  }

/* ============== style pour les menus des burgers ================*/


  #menu-burger,
  #menu-user{
    z-index:1;
    min-width:20%;
    min-height:10%;
    position: absolute;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:200px;
}
  #menu-burger ul,
  #menu-user ul{
    margin: -150px;
  }
  
  #menu-burger.overlay{
    visibility: visible;
    opacity: 1;
    padding-bottom: 0px;
    background: #324001;
    margin-top: 150px;
    border: solid 2px $third-color;
    min-width: 150px;
    left: 0;
  }
  #menu-user.overlay{
    visibility: visible;
    opacity: 1;
    padding-bottom: 10px;
    padding-top: 0px;
    background: #324001;
    margin-top: 150px;
    border: solid 2px $third-color;
    min-width: 150px;
    right: 0;
  }
  
  #menu-burger li,
  #menu-user li{
    list-style:none;
  }
  #menu-burger a:hover,
  #menu-user a:hover {
    color: $third-color;
  }

  #menu-burger a{
    color:$primary-color;
    display:block;
    margin-bottom:25px;
    margin-left: 50px;
  }
  
  #menu-user a{
    color:$primary-color;
    display:block;
    margin-bottom:15px;
    padding-top: 8px;
  }

.navigation {
    min-height: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation ul {
    width: 10%;
}

.navigation #logoDesktop{
    display: none;
}

.navigation  #logoMobile{
    display: flex;
    align-items: center;
    margin: 0 auto;
}


.navigation #logoMobile,
.navigation #logoDesktop {
    max-width: 70%;
    min-width: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.navigation a:nth-last-child(2) {
    margin: 0 auto;
}
#mobile {
    margin: 0 auto;
}
/* ===================================== MEDIA QUERIES BURGER ============================================ */

@media screen and (min-width: 950px) { // AU DESSUS DE 950px ========================
    .navigation #logoDesktop {
        margin-left: 0;
        display: block;
    }
    .navigation #logoMobile {
        display: none;
    }
    .navigation #burger,
    #burger-user {
        display: none;
    }

    #menu-burger,
    #menu-user{
        position: relative;
        visibility: visible;
        opacity: 1;
        min-width: 0;
        min-height: 0;
        padding-top: 0;
    }
    #menu-burger a,
    #menu-user a{
        margin-bottom:0px;
        margin-left: 0px;
        padding-top: 0px;
      }
    
    #menu-burger li a,
    #menu-user li a{
        color: $primary-color;
    }
    #menu-burger ul,
    #menu-user ul{
        display: flex;
        justify-content: space-evenly;
        
    }
    #menu-burger{
        width: 370px;
    }
    #menu-user{
        display: flex;
        width: 230px;
        justify-content: space-evenly;

    }
    #menu-burger ul{
        margin: 0;
        justify-content: space-between;
        width: 500px;
    }
    #menu-burger.overlay,
    #menu-user.overlay {
        display: none;
    }
    #mobile{
        display: none;
    }
}

@media screen and (max-width: 1200px) { // EN DESSOUS DE 1200px
    #menu-burger ul {
        width: 400px;
      }
}

@media screen and (min-width: 1200px) { // AU DESSUS DE 1200px
    #menu-burger{
        width: 500px;
    }
    .navigation  #logoDesktop{
        display: block;
    }
}




/* ===================================== DERNIERES RECETTES / SLIDER  ======================================= */
.slider-container{
    max-width: 700px;
    margin: 15px auto;
    position: relative;
}
.slider{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    background: #ccc;
}
.slider__item img{
    width: 100vh;
    
}
.slider__item{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: sans-serif;
}
.slider__item--current{
    opacity: 1;
    z-index: 2;
}
.slider__item:nth-of-type(even){
    color: #fff;
}
  
.controls__btn{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 99;
    padding: 10px;
    position: absolute;
    display: inline-block;
    cursor: pointer;
}
.controls__btn--prev{
    left: 0;
}
.controls__btn--next{
    right: 0;
}

/* ==================================== MENTIONS / POLITIQUES ============================================ */
.mentions a{
    color: $third-color;
}
.mentions ul li, .mentions ul p, .mentions h3{
    font-style: normal;
}
.mentions, .cgu{
    color: $third-color;
}

.mentions .title-mentions,
.mentions p,
.cgu .title-cgu,
.politiques .title-politiques,
.politiques p{  
    padding: 40px;
}
.title-cgu, .title-mentions {
    font-size: 2rem;
}
.mentions ul,
.mentions .title-ul,
.politiques .title{
    text-align: center;
    padding: 20px;
}
.mentions .title-ul,
.politiques .title{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.mentions .title-mentions,
.cgu .title-cgu{
    padding-bottom: 20px 0 0 20px;
}

.mentions p, 
.cgu p,
.politiques p{
    width: auto;
    padding: 30px;
}
/* ======================================= PRESENTATION ======================================= */
.presentation{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
    gap: 50px;
}
.presentation #img-presentation img{ 
    width: 100%;
}

@media screen and (min-width: 950px){
    .presentation{
        flex-direction: row;
    }
    .presentation #texte-presentation{
        width: 50%;
    }
}

/* ===================================================== FOOTER ===============================================================*/
footer {
    background: $secondary-color;
    color: $primary-color;
    position: relative;
}
#reseaux ul li,
#politiques ul li {
    display: inline-block;
    margin-right: 15px;
}
#reseaux ul,
#politiques ul,
#copyright ul {
    text-align: center;
}
#reseaux {
    margin-bottom: 100px;
    padding-top: 20px;
}
#reseaux i{
    font-size: 40px;
    color: $primary-color;
}
#reseaux i:hover{
    color: $third-color;
}
#politiques {
    padding-bottom: 20px;
    font-size: 1.2rem;
}
#politiques ul li a:hover{
    color: $third-color;
}
#copyright {
    padding:30px;
}
#reseaux img{
    position: absolute;
    top: 15px;
    right: 30px; 
    height: auto;
    width: 50px;
}
#politiques li a{
    color: $primary-color;
}
#politiques li a:hover{
    color: $third-color;
}
/* ===================================== MEDIA QUERIES ============================================ */

.msg-erreur{
    color: red;
}
